In [137]:
import pandas as pd
import numpy as np

In [142]:
def game(n):
    if n <= 0 or n >= 80:
        return 'error!'
    
    df = pd.DataFrame([np.full(11,0)]*(11))

    i = 1
    list = []
    while i <= n:
        row = np.random.randint(1,10)
        col = np.random.randint(1,10)
        if (row,col) in list:
            continue
        list.append((row,col))
        df.iloc[row, col] = '*'
        i += 1
    # print(list)
    
    for i in range(1,10):
        for j in range(1,10):
            if (i,j) in list:
                continue
            a1 = (i-1, j-1)
            a2 = (i-1, j)
            a3 = (i-1, j+1)
            b1 = (i, j-1)
            # b2 = (i, j)
            b3 = (i, j+1)
            c1 = (i+1, j-1)
            c2 = (i+1, j)
            c3 = (i+1, j+1)

            num1 = 1 if df.iloc[a1] == '*' else 0
            num2 = 1 if df.iloc[a2] == '*' else 0
            num3 = 1 if df.iloc[a3] == '*' else 0
            num4 = 1 if df.iloc[b1] == '*' else 0
            # num5 = 1 if df.iloc[b2] == '*' else 0
            num6 = 1 if df.iloc[b3] == '*' else 0
            num7 = 1 if df.iloc[c1] == '*' else 0
            num8 = 1 if df.iloc[c2] == '*' else 0
            num9 = 1 if df.iloc[c3] == '*' else 0
            num = num1 + num2 + num3 + num4 + num6 + num7 + num8 + num9
        
            df.iloc[i,j] = num
    
    return df.iloc[1:10,1:10]

In [144]:
df = game(10)
df

   1  2  3  4  5  6  7  8  9
1  0  0  0  0  0  0  0  1  1
2  1  1  2  1  2  2  2  2  *
3  2  *  4  *  3  *  *  2  1
4  3  *  4  *  3  2  2  1  0
5  *  2  2  1  1  0  0  0  0
6  1  2  1  1  0  0  0  0  0
7  1  2  *  1  0  0  0  0  0
8  1  *  2  1  0  0  0  0  0
9  1  1  1  0  0  0  0  0  0